@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-transform: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  border-radius: 0;
  font-family: "Roboto", sans-serif;
  line-height: 1;
}

body {
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
}

@media only screen and (max-width: 767px) {
  body {
    font-size: 12px;
  }
}

@media (min-width: 1691px) {
  body {
    font-size: 18px;
  }
}

ul {
  list-style: none;
  padding: 0;
}

.error-msg {
  color: #f89c49;
  background-color: #e0e9ee;
}

.success-msg {
  color: #294063;
  background-color: #e0e9ee;
}

.content {
  min-height: calc(100vh - 180px);
}

.footer {
  min-height: 180px;
  background-color: #e0e9ee;
  font-size: 14px;
  padding: 30px 0 15px 0;
  line-height: 1;
}

@media only screen and (max-width: 767px) {
  .footer {
    font-size: 12px;
    padding-left: 40px;
  }
}

.footer .cont {
  color: #536279;
}

.footer .cont a {
  color: #536279;
  text-decoration: none;
}

.footer .cont a:hover {
  text-decoration: none;
  color: #f89c49;
}

.footer .cont p {
  line-height: 1.2;
  margin-bottom: 9px;
}

.footer .footer-links li {
  margin-bottom: 15px;
}

.footer .footer-links a {
  color: #3f5968;
  text-decoration: none;
}

.footer .footer-links a:hover {
  text-decoration: none;
  color: #f89c49;
}

.text_with_icons {
  position: relative;
}

.text_with_icons svg {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  position: absolute;
  left: -21px;
}

.text_with_icons svg p {
  margin-left: 20px;
  text-align: left;
}

.footer-lang-view {
  height: 40px;
}

.footer-lang-view a {
  width: 30px;
  display: block;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-lang-view a.selected-lan {
  color: #f89c49;
  margin-right: 10px;
  vertical-align: bottom;
}

.footer-lang-view ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

.footer-lang-view ul a {
  padding: 3px 5px;
  color: #536279;
}

.footer-lang-view ul a:hover {
  color: #f89c49;
  text-decoration: none;
}

.icons a {
  padding: 0 5px;
  text-align: center;
  color: #294063;
}

.icons a:hover {
  color: #536279;
  text-decoration: none;
}

.icons a:focus {
  outline: none;
}

.icons i:focus {
  outline: none;
}

.navbar {
  background-color: #536279;
}

.navbar .navbar-brand {
  font-size: 1.5rem;
}

@media only screen and (max-width: 767px) {
  .navbar .navbar-brand {
    font-size: 1rem;
  }
}

.navbar .navbar-nav .nav-link {
  color: #dcddde;
  text-transform: uppercase;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:focus {
  color: #f89c49;
}

.navbar img {
  max-height: 56px;
}

@media (min-width: 1691px) {
  .navbar img {
    max-height: none;
  }
}

.main-label {
  color: #536279;
  font-weight: bold;
}

.form-header {
  background: #536279;
  color: #fff;
}

.results-header {
  background-color: #294063;
  color: #fff;
}

.btn-main {
  font-weight: 600;
  color: #294063;
  background-color: #f89c49;
  text-transform: uppercase;
  border-radius: 0;
  border: none;
  cursor: pointer;
  border-radius: 0.25rem;
}

.btn-main:hover {
  text-decoration: none;
  outline: none;
  color: #f89c49;
  background-color: #294063;
}

.btn-main:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-select:focus,
.form-check-input:focus {
  border-color: #294063;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(83, 98, 121, 0.25);
          box-shadow: 0 0 0 0.25rem rgba(83, 98, 121, 0.25);
  color: #294063;
}

#mainForm .main-switch {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.form-label {
  margin-bottom: 0;
}

.form-check-input:checked {
  background-color: #294063;
}
